@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 12rem;
    }
    .profile-picture {
        margin: 0 auto 2rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}
  
@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #skills,
    .skills-details-container {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    #profile {
        margin-bottom: 0;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    .section-containers {
        margin: 1rem;
    }
    section {
        margin: 0 5%;
    }
    .section-picture {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
    .contact-info-upper-container {
        margin: 2rem;
    }
    .project-container {
        min-height: 80vh;
        margin-bottom: 6rem;
    }
}
  
@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 30vh;
    }
    .profile-picture {
        width: 300px;
        justify-content: center;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .skills-subtitle {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-picture {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section-text2 {
        font-size: 1.25rem;
    }
    .section-title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    .project-title {
        font-size: 1rem;
    }
}

/* Hide desktop navigation bar and show hamburger menu when on mobile/smaller screen (< */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hb-nav {
        display: flex;
    }
}
